<h1>Followed</h1>
<% if @user.any? %>
    <div class="row">
        <% @user.each do |f|  %>
            <div class="col-xs-6 col-xs-6" >
                <%= gravatar_for(f, size: 50) %>
                <%= f.name  %>
            </div>
        <% end %>
    </div>
<% end %>